.app {
  font-family: Arial, sans-serf;
  background: #fff;
}

/* Header */
.header {
  background: white;
  // border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLeft, .headerRight {
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
}

/* Hero */
.hero {
   width: 100%;
  height: auto;
  display: block;
  object-fit: cover;  /* makes sure it fills horizontally */
}
.hero img {
  width: 100%;
  height: 80vh;       
  object-fit: cover;  

}

/* Sections */
.section, .sectionAlt {
  padding: 40px 20px;
}
.sectionAlt {
  background: #fff;
}
.section h2 {
  text-align: center;
  margin-bottom: 20px;
}
.sectionAlt h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Grids */
.grid6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  align-items: flex-start;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Cards */
.card {
 width: 180px;         
   width: 180px;
  padding: 0;                 /* no extra padding around */
  border-radius: 0;           /* remove box rounding */
  background: transparent;
  box-shadow: none;
  text-align: center;
}
.card:hover {
  transform: scale(1.02);
}
.card img {
 width: 100%;
    height: 120px;      // smaller image height
    object-fit: cover;
    border-radius: 4px;
}
.cardInfo {
  padding: 6px;
}
.cardInfoCenter {
  padding: 10px;
  text-align: center;
}
  h3 {
      font-size: 14px;  // smaller title
      margin: 4px 0;
    }

    p {
      font-size: 12px;  // smaller text
      color: #555;
      margin: 0;
    }
.swiperContainer {
  --swiper-navigation-sides-offset: 0rem;
  padding: 0;
}

.viewAllContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;   /* space from products */
}

.viewAllBtn {
  padding: 10px 24px;
  background-color: #fff;        
  color: #000;                   
  border: 2px solid #000;       
  border-radius: 40px;        
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.viewAllBtn:hover {
  background-color: #000;   
  color: #fff;             
}

.catalogCard {
  width: 300px;              
  padding: 12px;
  border-radius: 8px;
  background: transparent;   
  box-shadow: none;          
  text-align: center;
}

.catalogCard img {
  width: 100%;
  height: 200px;             
  object-fit: cover;
  border-radius: 6px;
}

.catalogCard h3 {
  font-size: 12px;           
  margin-top: 8px;
}


/* Footer */
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}
